body {
	height: 100%;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
a {
	cursor: pointer;
	color:#009;
}
