body {
	padding: 12px;
}
#mt-loading {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 8px;
	width: 120px;
	text-align: center;
	background: #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #333;
	box-shadow: 2px 2px 2px #888;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
}
body.loaded #mt-loading {
	display: none;
}

h3.h3_test {
	border-bottom: 1px solid #999;
	font-weight: bold;
	font-size: 14px;
	margin-top: 8px;
}
p {
	margin-bottom: 4px;
}
#actions {
	width: 400px;
	position: relative;
	z-index: 1000;
	background: #fff;
	padding: 4px 0px;
}
#actions dt {
	font-weight: bold;
	margin: 8px;
}
#actions dt a {
	text-decoration: none;
	display: block;
	background: #AABCF2;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px;
}
#actions dt a:hover {
	background: #CACEE8;
}
#actions dd {
	padding: 0px 4px;
	margin: 0px 8px;
	position: relative;
	top: -8px;
}
#mt-log-wrapper {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 100px;
}
#mt-log {
	height: 100px;
	overflow: auto;
}
.view_source #mt-nav {
	min-height: 30px;
	height: 30px;
}
.view_source .source {
	padding: 20px
}
.view_source .highlight  {
	padding: 8px;
	overflow: auto;
	max-height: 400px;
	border: 1px solid #666;
	margin-bottom: 20px;
}

.view_source h2, .view_source h3 {
	margin-bottom: 4px;
}
.view_source ul li {
	list-style: none;
}
.view_source ul {
	padding: 0;
	margin: 0 0 20px 0;
}
.view_source .totop {
	font-size: 10px;
	float: right;
	position: relative;
	top: 4px;
}

/*
 * Styles from Pygments
 */
.view_source .highlight .hll { background-color: #ffffcc }
.view_source .highlight  { background: #f8f8f8; }
.view_source .highlight .c { color: #408080; font-style: italic } /* Comment */
.view_source .highlight .err { border: 1px solid #FF0000 } /* Error */
.view_source .highlight .k { color: #008000; font-weight: bold } /* Keyword */
.view_source .highlight .o { color: #666666 } /* Operator */
.view_source .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.view_source .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.view_source .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.view_source .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.view_source .highlight .gd { color: #A00000 } /* Generic.Deleted */
.view_source .highlight .ge { font-style: italic } /* Generic.Emph */
.view_source .highlight .gr { color: #FF0000 } /* Generic.Error */
.view_source .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.view_source .highlight .gi { color: #00A000 } /* Generic.Inserted */
.view_source .highlight .go { color: #808080 } /* Generic.Output */
.view_source .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.view_source .highlight .gs { font-weight: bold } /* Generic.Strong */
.view_source .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.view_source .highlight .gt { color: #0040D0 } /* Generic.Traceback */
.view_source .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.view_source .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.view_source .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.view_source .highlight .kp { color: #008000 } /* Keyword.Pseudo */
.view_source .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.view_source .highlight .kt { color: #B00040 } /* Keyword.Type */
.view_source .highlight .m { color: #666666 } /* Literal.Number */
.view_source .highlight .s { color: #BA2121 } /* Literal.String */
.view_source .highlight .na { color: #7D9029 } /* Name.Attribute */
.view_source .highlight .nb { color: #008000 } /* Name.Builtin */
.view_source .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.view_source .highlight .no { color: #880000 } /* Name.Constant */
.view_source .highlight .nd { color: #AA22FF } /* Name.Decorator */
.view_source .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.view_source .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.view_source .highlight .nf { color: #0000FF } /* Name.Function */
.view_source .highlight .nl { color: #A0A000 } /* Name.Label */
.view_source .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.view_source .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.view_source .highlight .nv { color: #19177C } /* Name.Variable */
.view_source .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.view_source .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.view_source .highlight .mf { color: #666666 } /* Literal.Number.Float */
.view_source .highlight .mh { color: #666666 } /* Literal.Number.Hex */
.view_source .highlight .mi { color: #666666 } /* Literal.Number.Integer */
.view_source .highlight .mo { color: #666666 } /* Literal.Number.Oct */
.view_source .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.view_source .highlight .sc { color: #BA2121 } /* Literal.String.Char */
.view_source .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.view_source .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.view_source .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.view_source .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.view_source .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.view_source .highlight .sx { color: #008000 } /* Literal.String.Other */
.view_source .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.view_source .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.view_source .highlight .ss { color: #19177C } /* Literal.String.Symbol */
.view_source .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.view_source .highlight .vc { color: #19177C } /* Name.Variable.Class */
.view_source .highlight .vg { color: #19177C } /* Name.Variable.Global */
.view_source .highlight .vi { color: #19177C } /* Name.Variable.Instance */
.view_source .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */